* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Figtree", sans-serif;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.space-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.max-width,
.full-width,
.small-width,
.medium-width,
.large-width,
.extra-large-width {
  width: 100%;
  margin: 0 auto;
}

.container {
  padding: 50px 30px 50px 30px;
}

.primary-header .container {
  padding: 20px 30px 20px 30px;
}

.search .container {
  padding: 0 30px 50px 30px;
}

.max-width {
  max-width: 1600px;
}

.small-width {
  max-width: 500px;
}

.medium-width {
  max-width: 800px;
}

.large-width {
  max-width: 1000px;
}

.extra-large-width {
  max-width: 1200px;
}

.extra-small-gap {
  gap: 20px;
}

.small-gap,
.search .large-gap {
  gap: 30px;
}

.large-gap {
  gap: 50px;
}

.link, .attribution {
    color: #000000;
    text-decoration: none;
    border-bottom: solid 1px #000000;
}

.link:hover, .attribution:hover {
    color: #14746F;
    text-decoration: none;
    border-bottom: solid 1px #14746F;
}

button,
.btn {
  display: inline-block;
  color: #000000;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.circle-btn {
  width: 5rem;
  height: 5rem;
  display: inline-block;
  font: 600 1.25rem/1.4 "Figtree", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  word-spacing: 0.89em;
  text-decoration: none;
  cursor: pointer;
}

.circle-btn:hover .label {
  animation-play-state: paused;
}

.circle-btn .circle-btn-svg {
  width: 100%;
  height: auto;
  transform-box: fill-box;
  fill: #000000;
  stroke: #000000;
  stroke-width: 0.05em;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.circle-btn .arrow {
  transform-origin: 50% 50%;
}

.circle-btn:hover .arrow {
  transform: scale(1.1);
  transition: transform 0.3s cubic-bezier(0.33, 1, 0.68, 1);
  stroke: #14746F;
}

.arrow {
  stroke-width: 0.09em;
}

.label {
  animation: rotateReverse normal infinite 20s linear;
  transform-origin: 50% 50%;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotateReverse {
  to {
    transform: rotate(360deg);
  }
}

header, .search {
  background: rgb(136, 212, 171);
  background: linear-gradient(90deg, rgba(243, 243, 243, 1) 50%, rgba(120, 198, 163, 1) 50%);
}

header {
  min-height: 64px;
}

.primary-heading {
  font-size: 2.5rem;
}

.primary-subhead {
  font-size: 1rem;
  font-weight: 600;
}

footer {
  background-color: #ffffff;
}

.footer-signature {
  line-height: 1.5;
}

.footer-wrapper.flex.flex-row {
  flex-direction: column;
}

/* Media Queries */

@media screen and (min-width: 320px) {
  .primary-heading {
    font-size: 13vw;
    white-space: nowrap;
  }
  .primary-subhead {
    font-size: 1.2rem;
  }
  /* Circle Button */
  .circle-btn {
    width: 6rem;
    height: 6rem;
    font: 600 1.25rem/1.4 "Figtree", sans-serif;
    letter-spacing: 0.01em;
    word-spacing: 0.89em;
  }
}

@media screen and (min-width: 400px) {
  .logo img {
    width: 100px;
  }
  .primary-heading {
    font-size: 13.5vw;
    white-space: nowrap;
  }
}

@media screen and (min-width: 480px) {
  .primary-heading {
    font-size: 14vw;
    white-space: nowrap;
  }
  .primary-subhead {
    font-size: 1.5rem;
  }
  /* Circle Button */
  .circle-btn {
    width: 7rem;
    height: 7rem;
    font: 600 1.25rem/1.4 "Figtree", sans-serif;
    letter-spacing: 0.01em;
    word-spacing: 0.89em;
  }
}

@media screen and (min-width: 550px) {
  .primary-heading {
    font-size: 14.2vw;
    white-space: nowrap;
  }
  /* Circle Button */
  .circle-btn {
    width: 8rem;
    height: 8rem;
    font: 600 1.25rem/1.4 "Figtree", sans-serif;
    letter-spacing: 0.01em;
    word-spacing: 0.89em;
  }
  .footer-wrapper.flex.flex-row {
    flex-direction: row;
  }
}

@media screen and (min-width: 641px) {
  .primary-heading {
    font-size: 14.5vw;
    white-space: nowrap;
  }
  .primary-subhead {
    font-size: 2rem;
  }
  .search .large-gap {
    gap: 50px;
  }
}

@media screen and (min-width: 768px) {
  .primary-header .container {
    padding: 20px 50px 20px 50px;
  }
  .container {
    padding: 80px 50px 80px 50px;
  }
  .search .container {
    padding: 0 50px 80px 50px;
  }
  .primary-heading {
    font-size: 14vw;
    white-space: nowrap;
  }
  .primary-subhead {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 880px) {
  .logo img {
    width: 120px;
  }
  .primary-heading {
    font-size: 14.2vw;
    white-space: nowrap;
  }
}

@media screen and (min-width: 1025px) {
  .primary-heading {
    font-size: 14.5vw;
    white-space: nowrap;
  }
}

@media screen and (min-width: 1200px) {
  .logo img {
    width: 140px;
  }
  .primary-heading {
    font-size: 14.75vw;
    white-space: nowrap;
  }
}

@media screen and (min-width: 1400px) {
  .primary-heading {
    font-size: 15vw;
    white-space: nowrap;
  }
}
