* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Figtree", sans-serif;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.space-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.max-width,
.full-width,
.small-width,
.medium-width,
.large-width,
.extra-large-width {
  width: 100%;
  margin: 0 auto;
}

.container {
  padding: 50px 30px 50px 30px;
}

.primary-header .container {
  padding: 20px 30px 20px 30px;
}

.search .container {
  padding: 0 30px 50px 30px;
}

.artist .container {
  padding: 50px 30px 0 30px;
}

.max-width {
  max-width: 1600px;
}

.small-width {
  max-width: 500px;
}

.medium-width {
  max-width: 800px;
}

.large-width {
  max-width: 1000px;
}

.extra-large-width {
  max-width: 1200px;
}

.extra-small-gap {
  gap: 20px;
}

.tiny-gap {
  gap: 10px;
}

.small-gap,
.search .large-gap {
  gap: 30px;
}

.large-gap {
  gap: 50px;
}

.link, .attribution {
    color: #000000;
    text-decoration: none;
    border-bottom: solid 1px #000000;
}

.link:hover, .attribution:hover {
    color: #036666;
    text-decoration: none;
    border-bottom: 0;
}

button,
.btn {
  display: inline-block;
  color: #000000;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.circle-btn {
  width: 5rem;
  height: 5rem;
  display: inline-block;
  font: 600 1.25rem/1.4 "Figtree", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  word-spacing: 0.89em;
  text-decoration: none;
  cursor: pointer;
}

.circle-btn:hover .label {
  animation-play-state: paused;
}

.circle-btn .circle-btn-svg {
  width: 100%;
  height: auto;
  transform-box: fill-box;
  fill: #000000;
  stroke: #000000;
  stroke-width: 0.05em;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.circle-btn .arrow {
  transform-origin: 50% 50%;
}

.circle-btn:hover .arrow {
  transform: scale(1.1);
  transition: transform 0.3s cubic-bezier(0.33, 1, 0.68, 1);
  stroke: #036666;
}

.arrow {
  stroke-width: 0.09em;
}

.label {
  animation: rotateReverse normal infinite 20s linear;
  transform-origin: 50% 50%;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotateReverse {
  to {
    transform: rotate(360deg);
  }
}

header, .search {
  background: rgb(136, 212, 171);
  background: linear-gradient(90deg, rgba(243, 243, 243, 1) 50%, rgba(120, 198, 163, 1) 50%);
}

header {
  min-height: 64px;
}

.logout .btn-text {
  color: #ffffff;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-bottom: 2px;
  border-bottom: solid 1px #ffffff;
}

.logout .btn-text:hover {
  color: #000000;
  border-bottom: 0;
}

.primary-heading {
  font-size: 2.5rem;
}

.primary-subhead {
  font-size: 1rem;
  font-weight: 600;
}

h3 {
  padding-bottom: 30px;
}

.search .container .search-query {
  width: 100%;
  max-width: 280px;
  background-color: #ffffff!important;
  border: solid 1px #000000;
  padding: 12px;
}

.search-query:focus {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  outline: none;
}

.search-query:active,
input:-internal-autofill-selected {
  background-color: #ffffff!important;
}

.search-btn {
  background-color: #ffffff;
  border-top: solid 1px #000000;
  border-right: solid 1px #000000;
  border-bottom: solid 1px #000000;
  padding: 12px;
}

.search-btn:hover {
  background-color: #036666;
  color: #ffffff;
}

.artist .container {
  position: relative;
}

.artist-header {
  min-height: 506px;
}

.artist-image img {
  position: absolute;
  top: -50px;
  right: 12.5%;
  width: 100%;
  border: solid 4px #000000;
}

.artist-name,
.followers,
.genres {
  width: 50%;
}

.artist-name h2 {
  font-size: 6rem;
  padding-bottom: 30px;
}

.followers p {
  color: #888888;
  font-weight: 300;
}

.genres {
  margin-top: auto;
}

.line-divider {
  border-bottom: 1px solid #000000;
  margin: 80px 0;
}

.genres ul,
.popular-songs-list .top-row,
.popular-songs-list .bottom-row {
  list-style-type: none;
}

.genres li {
  display: inline-block;
  background-color: #036666;
  color: #ffffff;
  padding: 12px 24px;
  border-radius: 50px;
}

.biography {
  padding-bottom: 80px;
}

.biography p {
  font-size: 1.2rem;
  line-height: 1.5;
}

.popular-songs-list li {
  position: relative;
  display: flex;
  min-height: 300px;
  background-color: #f3f3f3;
  padding: 30px;
  clip-path: polygon(100% 0, 100% 85%, 85% 100%, 0 100%, 0 0);
}

.popular-songs-list .top-row,
.popular-songs-list .bottom-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);;
  gap: 20px;
  width: 100%;
}

.popular-songs-list .top-row li {
  margin-bottom: 20px;
}

.track-number {
  position: absolute;
  left: 30px;
  bottom: 30px;
  font-size: 2rem;
  font-weight: 600;
  color: #036666;
}

.track-name {
  line-height: 1.5;
}

footer {
  background-color: #ffffff;
}

.footer-signature {
  line-height: 1.5;
}

.footer-wrapper.flex.flex-row {
  flex-direction: column;
}

/* Media Queries */

@media screen and (min-width: 320px) {
  .primary-heading {
    font-size: 13vw;
    white-space: nowrap;
  }
  .primary-subhead {
    font-size: 1.2rem;
  }
  /* Circle Button */
  .circle-btn {
    width: 6rem;
    height: 6rem;
    font: 600 1.25rem/1.4 "Figtree", sans-serif;
    letter-spacing: 0.01em;
    word-spacing: 0.89em;
  }
}

@media screen and (min-width: 400px) {
  .logo img {
    width: 100px;
  }
  .primary-heading {
    font-size: 13.5vw;
    white-space: nowrap;
  }
}

@media screen and (min-width: 480px) {
  .primary-heading {
    font-size: 14vw;
    white-space: nowrap;
  }
  .primary-subhead {
    font-size: 1.5rem;
  }
  /* Circle Button */
  .circle-btn {
    width: 7rem;
    height: 7rem;
    font: 600 1.25rem/1.4 "Figtree", sans-serif;
    letter-spacing: 0.01em;
    word-spacing: 0.89em;
  }
}

@media screen and (min-width: 550px) {
  .primary-heading {
    font-size: 14.2vw;
    white-space: nowrap;
  }
  /* Circle Button */
  .circle-btn {
    width: 8rem;
    height: 8rem;
    font: 600 1.25rem/1.4 "Figtree", sans-serif;
    letter-spacing: 0.01em;
    word-spacing: 0.89em;
  }
  .footer-wrapper.flex.flex-row {
    flex-direction: row;
  }
}

@media screen and (min-width: 641px) {
  .primary-heading {
    font-size: 14.5vw;
    white-space: nowrap;
  }
  .search .large-gap {
    gap: 50px;
  }
}

@media screen and (min-width: 768px) {
  .primary-header .container {
    padding: 20px 50px 20px 50px;
  }
  .container {
    padding: 80px 50px 80px 50px;
  }
  .search .container {
    padding: 0 50px 80px 50px;
  }
  .artist .container {
    padding: 80px 50px 0 50px;
  }
  .artist-image img {
    width: 25%;
  }  
  .primary-heading {
    font-size: 14vw;
    white-space: nowrap;
  }
}

@media screen and (min-width: 880px) {
  .logo img {
    width: 120px;
  }
  .primary-heading {
    font-size: 14.2vw;
    white-space: nowrap;
  }
}

@media screen and (min-width: 1025px) {
  .primary-heading {
    font-size: 14.5vw;
    white-space: nowrap;
  }
}

@media screen and (min-width: 1200px) {
  .logo img {
    width: 140px;
  }
  .primary-heading {
    font-size: 14.75vw;
    white-space: nowrap;
  }
}

@media screen and (min-width: 1400px) {
  .primary-heading {
    font-size: 15vw;
    white-space: nowrap;
  }
}
